.header {
  display: none;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 32px 0px 64px;
  max-width: 270px;
  height: 100%;
  border-right: 2px solid #EE10B0;
}
.nav-bar-logo {
  background-image: linear-gradient(27deg, rgb(238, 16, 176) 0%, rgb(14, 158, 239) 92%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Vazirmatn", serif;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.nav-bar-actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.nav-bar-actions-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.nav-bar-actions-menu-title {
  font-family: "Vazirmatn", serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #EE10B0;
}
.nav-bar-actions-menu-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.nav-bar-actions-menu-inner-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
  cursor: pointer;
}
.nav-bar-actions-menu-inner-item .icon {
  width: 12px;
  height: 13px;
}
.nav-bar-actions-menu-inner-item:hover {
  color: #EE10B0;
}

.main {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  align-items: center;
  gap: 60px;
}
.main .home {
  position: relative;
  background-image: url("../../../img/bg.png");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  aspect-ratio: 1000/541;
}
.main .home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(260deg, rgba(0, 0, 0, 0.056460084) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
  opacity: 80%;
  border-radius: 13px;
}
.main .home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(260deg, rgba(0, 0, 0, 0.056460084) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
  opacity: 80%;
  border-radius: 13px;
}
.main .home-content {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-left: 20px;
  margin-bottom: 80px;
}
.main .home-content-nav {
  margin-top: 12px;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  align-items: center;
}
.main .home-content-nav-search-form {
  background-color: #1F1F1F;
  border-radius: 10px;
  height: 30px;
  min-width: 280px;
  padding: 4px 8px;
  display: flex;
}
.main .home-content-nav-links {
  font-family: "Vazirmatn", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.main .home-content-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.main .home-content-title .title-content {
  font-family: "Vazirmatn", serif;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  max-width: 300px;
}
.main .home-content-title .title-content .rose-main {
  color: #EE10B0;
}
.main .home-content-title .text {
  font-family: "Vazirmatn", serif;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  max-width: 300px;
}
.main .home-content-title .buttons {
  display: flex;
  gap: 16px;
}
.main .home-content-title .buttons .btn-discover {
  background-color: #EE10B0;
  border-radius: 4px;
  color: white;
  padding: 6px 16px;
  font-family: "Vazirmatn", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.main .home-content-title .buttons .btn-create {
  background-color: transparent;
  border: 1px solid #0E9EEF;
  border-radius: 4px;
  color: #0E9EEF;
  padding: 6px 16px;
  font-family: "Vazirmatn", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.weekly-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.weekly-top .title {
  font-family: "Vazirmatn", serif;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-left: 20px;
}
.weekly-top .title span {
  color: #EE10B0;
}
.weekly-top .menu-songs {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.weekly-top .menu-songs-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #1F1F1F;
  padding: 4px 15px;
  border-radius: 10px;
}
.weekly-top .menu-songs-item img {
  max-width: 150px;
  border-radius: 10px;
}
.weekly-top .menu-songs-item .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.weekly-top .menu-songs-item .text .buy-btn {
  display: none;
}
.weekly-top .menu-songs-item:hover .buy-btn {
  display: block;
  font-family: "Vazirmatn", serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  padding: 7px 16px;
  background-color: #EE10B0;
  color: white;
  border-radius: 4px;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  background-color: #181818;
  box-shadow: 0px -23px 23px rgba(0, 0, 0, 0.27);
  width: 100%;
  padding: 30px 20px 15px 20px;
}
.footer .info-about {
  display: flex;
  flex-direction: column;
}
.footer .info-about .title {
  font-family: "Vazirmatn", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.footer .info-about .text {
  max-width: 350px;
  font-family: "Vazirmatn", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.footer .info-about .text span {
  color: #EE10B0;
}
.footer .info-about .text .span2 {
  color: #0E9EEF;
}
.footer .actions {
  display: flex;
  gap: 22px;
}
.footer .actions .action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.footer .actions .action .title {
  padding: 10px;
  font-family: "Vazirmatn", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  border-bottom: 2px solid white;
}
.footer .actions .action .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .actions .action .menu-item-link {
  padding: 10px;
}
.footer .info-contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .info-contact .nav-bar-logo {
  padding: 10px 37px;
}
.footer .info-contact .icons-social-media {
  display: flex;
}
.footer .info-contact .icons-social-media img {
  padding: 7px 18px;
}

.albums-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.albums-section-title {
  font-family: "Vazirmatn", serif;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-left: 10px;
}
.albums-section-title span {
  color: #EE10B0;
}
.albums-section-menu-album {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.albums-section-menu-album .item {
  flex: 0 0 calc(50% - 24px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-color: #1F1F1F;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.albums-section-menu-album .item img {
  max-width: 150px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.albums-section-menu-album .item .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.albums-section-menu-album .item .additional-text {
  display: none;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.albums-section-menu-album .item .additional-text .details {
  max-width: 250px;
}
.albums-section-menu-album .item:hover {
  transform: scale(1.1);
  z-index: 2;
}
.albums-section-menu-album .item:hover .additional-text {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.albums-section-menu-album .item:hover .additional-text p {
  font-family: "Vazirmatn", serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.albums-section-menu-album .item:hover .additional-text p span {
  color: #EE10B0;
  font-family: "Vazirmatn", serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.albums-section-menu-album .item:hover .additional-text .buy-btn {
  background-color: #EE10B0;
  padding: 5px 25px;
  border-radius: 4px;
  color: white;
}
@media (max-width: 1440px) {
  .albums-section-menu-album .item {
    flex: 0 0 calc(25% - 24px);
  }
}
.albums-section-menu-album:hover .item:not(:hover) {
  opacity: 0.7;
  transform: scale(0.95);
}

@media (max-width: 1024px) {
  .main {
    margin-top: 32px;
  }
  .main .home {
    max-width: 90%;
  }
  .main .home .home-content {
    margin-bottom: 0px;
    gap: 20px;
  }
  .main .home .home-content-nav {
    gap: 20px;
    margin-top: 6px;
  }
  .main .home .home-content-nav-search-form {
    min-width: 100px;
  }
  .main .home .home-content-title {
    gap: 6px;
  }
  .main .home .home-content-title .title-content {
    font-size: 16px;
    max-width: 200px;
  }
  .main .home .home-content-title .text {
    max-width: 200px;
  }
  .main .home .home-content-title .btn-discover, .main .home .home-content-title .btn-create {
    padding: 6px 8px;
    font-size: 10px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* Style specific elements inside the open navbar */
  }
  .container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
  .container .header .header-logo {
    background-image: linear-gradient(27deg, rgb(238, 16, 176) 0%, rgb(14, 158, 239) 92%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Vazirmatn", serif;
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
  .container .header .burger .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #EE10B0;
    margin: 5px 0;
    cursor: pointer;
  }
  .container .nav-bar {
    display: none;
    transition: all 0.3s ease-in-out;
  }
  .container .nav-bar-logo {
    display: none;
  }
  .container .nav-bar.open {
    display: block;
    max-width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
  }
  .container .nav-bar.open .nav-bar-actions-menu-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  .container .nav-bar.open .nav-bar-actions-menu-inner-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
  }
  .container .nav-bar.open .nav-bar-actions-menu-inner-item .icon {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 493px) {
  .main {
    margin-top: 0px;
  }
  .main .home {
    width: 420px;
  }
  .main .home-content-nav-search-form {
    display: none;
  }
  .main .home-content-nav-search-form img {
    display: none;
  }
  .main .home-content-nav-search-form input {
    display: none;
  }
  .main .home .buttons .btn-create, .main .home .buttons .btn-discover {
    padding: 3px 4px;
  }
}
@media (max-width: 425px) {
  .main .home-content-title .text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.container {
  background-color: #181818;
  height: 100vh;
  color: white;
  font-family: "Vazirmatn", serif;
  font-size: 16px;
  font-weight: 400px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
