//Principal colors
$rose-main:#EE10B0;
$blue-main:#0E9EEF;
$bg-color:#181818;
$bg-form-color:#1F1F1F;
//Principal button colors
$default-rose-btn:$rose-main;
$default-blue-btn:$blue-main;
//Colors for buttons when hover 
 $hover-rose-btn:#D60E9E;
 $hover-blue-btn:#0D8ED7;
